<%- include('partials/header.ejs') %>
    <div class="container p-3" style="background-color: rgb(128, 128, 128, .5); border-radius: 6px;">
        <h1 class="display-6">
            <%= post.title %>
        </h1>
        <p>
            <%= post.content %>
        </p>
        <em>
            by <%= post.author %>
        </em>
    </div>
    <%- include('partials/footer.ejs') %>